@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

body .content {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
    text-align: center;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content img {
    width: 20px;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
}

.footer {
    top: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}

.logo {
    height: 
}

.logo img {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

@media only screen and (max-width: 1000px) {
    .logo img {
        width: 50%;
        padding-top: 80px;
    }
    .content {
        top: 30% !important;
        padding: 0 20px;
        font-size: 40px !important;
    }
    .content p {
        font-size: 50px;
        letter-spacing: 5px;
    }
    .footer {
        font-size: 35px;
        letter-spacing: 3px;
        top: 20% !important;
    }
    html .content span,
    body .content span {
        width: 45px !important;
        display: inline-block;
    }
    .content img {
        width: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .logo img {
        width: 50%;
        padding-top: 80px;
    }
    .content {
        top: 15% !important;
        padding: 0 20px;
        font-size: 12px !important;
    }
    .content p {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .footer {
        font-size: 12px;
        letter-spacing: 1px;
        top: 30% !important;
    }
    html .content span,
    body .content span {
        width: 15px !important;
        display: inline-block;
    }
    .content img {
        width: 15px;
    }
}


html .content span,
body .content span {
    width: 18px;
    display: inline-block;
}

.cta-btn {
        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.5px;
        display: inline-block;
        padding: 10px 28px;
        background: #ed126a;
        border-radius: 4px;
        margin-top: 20px;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    
.cta-btn:hover {
        
        
       
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

 